.map
	height: 400px

.awesome-infobox
	padding: 10px

.map-content
	padding: 20px
	border-radius: 5px
	background: #fff

.btn-close
	padding: 8px 12px
	border-radius: 3px
	color: #fff
	background: #e65555
